<!doctype html>
<html>
    <head>
        <title>Empty project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='application/styles.css') }}"">
    </head>
    <body>
        <!--<form>
            <label for="username">Name: </label>
            <input type="text" name=”username” id="username">
            <button id="join_leave">Join call</button>
            <button id="share_screen" disabled>Share screen</button>
            <button id="toggle_chat" disabled>Toggle chat</button>
        </form>-->
        <!--<p id="count">Disconnected.</p>-->
        <div id="root relative w-screen h-screen">
            <div id="container" class="container">
                <div class="absolute bottom-20 right-20 z-40">
                    <div id="local" class="participant flex flex-row w-40 h-60 bg-red-600">
                        <div>
                        </div>
                        <div class="label hidden">Me</div>
                    </div>
                </div>
                <!-- more participants will be added dynamically here -->
                <div id="PA9525081d5d5c08f2a6c75c1cd2c08533" class="participant absolute z-0 w-full h-full bg-blue-700">
                    <div>
                        <audio autoplay=""></audio>
                        <video autoplay="" playsinline=""></video>
                    </div>
                    <div class="label">GAEL LE HETERO CURIEUX</div>
                </div>
            </div>
            <!--<div id="chat">
                <div id="chat-scroll">
                    <div id="chat-content">
                    </div>
                </div>
                <input id="chat-input" type="text">
            </div>-->
        </div>
        <script src="{{ url_for('static', filename='screen/livescreen.js') }}" async defer></script>
    </body>
</html>